<% layout('layout') %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>

                <h4 class="modal-title" id="myModalLabel">Album title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <a href="" class="buttonsstyle" role="button" download="">Download <!--<span class="glyphicon glyphicon-download"></span>--></a>
            </div>
        </div>
    </div>
</div>
<div class="container" id="container" style="">
    <% if (cvrs.length) { %>
    <ul class="row" id="covers" style="width: 100%; margin: 0">

        <% cvrs.forEach(function(cover){ %>
        <li class="col-md-2 col-sm-3 col-xs-4 col-lg-2 cover emerge" data-continue="true">

            <figure class="cover-item"><img alt="<%= cover.get('album') %>" src="<%= cover.get('sPicture') %>"
                                            bigimg="<%= cover.get('bPicture') %>"><div class="screen" style="height: 100%"></div>
                <figcaption><span class="album-title"><%= cover.get('album') %></span><br>
                    by <span class="artist-name"><%= cover.get('artist') %></span></figcaption>

            </figure>
        </li>
        <% }) %>


    </ul>
    <% } %>
    <div class="ias-spinner" style="background: #fff;padding: 15px 0px;margin:0"><img src="Preloader_7.gif" style="margin: 0 auto;"/></div>
    <% include pagination %>

</div>
<script>
    $(document).on('click', '.cover img', function () {
        var src = $(this).attr('bigimg');
        var img = '<img src="' + src + '" class="img-responsive main-cover"/>';
        var album = $(this).attr('alt');

        $('#myModal').modal();
        $('#myModal').on('shown.bs.modal', function () {
            $('#myModal #myModalLabel').html(album);
            $('#myModal .modal-body').html(img);
            $('#myModal .modal-footer a').attr("href", src);
            $('#myModal .modal-footer a').attr("download", src.replace("img/", ""));

        });
        $('#myModal').on('hidden.bs.modal', function () {
            $('#myModal #myModalLabel').html('Album Title');
            $('#myModal .modal-body').html('');
            $('#myModal .modal-footer a').attr("href", "#");
            $('#myModal .modal-footer a').attr("download", "");
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('#navbar').css('background-color', '#efefef');
        var scroll_start = 0;
        var startchange = $('#startchange');
        var offset = startchange.offset();
        $(document).scroll(function() {
            scroll_start = $(this).scrollTop();
            if(scroll_start > offset.top) {
                $('#navbar').css('background-color', 'rgba(255,255,255,0.9)');
            } else {
                $('#navbar').css('background-color', '#efefef');
            }
        });
    });
    $("document").ready(function(){console.info("Loaded")});
    ias.on('rendered', function(){console.info("Loaded")});
</script>