<!DOCTYPE html>
<html>
<head>
    <title><%- brand %></title>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery-ias.min.js"></script>
    <script>
        var ias = jQuery.ias({
            container:  '#covers',
            item:       '.cover',
            pagination: '#pagination',
            next:       '.next'
        });
        ias.extension(new IASSpinnerExtension());
    </script>

    <script>
        $(document).ready(function () {
            $('li img').on('click', function () {
                var src = $(this).attr('bigimg');
                var img = '<img src="' + src + '" class="img-responsive"/>';
                var album = $(this).attr('alt');

                $('#myModal').modal();
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myModal #myModalLabel').html(album);
                    $('#myModal .modal-body').html(img);
                    $('#myModal .modal-footer a').attr("href", src);
                });
                $('#myModal').on('hidden.bs.modal', function () {
                    $('#myModal #myModalLabel').html('Album Title');
                    $('#myModal .modal-body').html('');
                    $('#myModal .modal-footer a').attr("href", "#");
                });
            });
        });
    </script>


    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css'/>

    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Album title</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="" class="btn btn-primary" role="button" download="img.jpg">Download <span
                            class="glyphicon glyphicon-download"></span></a>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="coverme.svg" class="logo" alt="<%- brand %>"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
<<<<<<< HEAD
                    <input class="form-control" id="searchBox" type="text" placeholder="Search cover"/>
=======
                    <input  id="searchBox" class="form-control" type="text" placeholder="Search cover"/>
>>>>>>> FETCH_HEAD
                    <a id="searchButton" class="btn btn-default" type="submit"><span>Search</span></a>
                </div>
            </form>

            <script>
                $('#searchButton').click(function() {
                    location.href = this.href + ('/search?q=') + $('#searchBox').val();
                    return false;
                });
                $("#searchBox").keypress(function(event){
                    if(event.keyCode == 13){
                        event.preventDefault();
                        $("#searchButton").click();
                    }
                });
            </script>


        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container" id="container">
    <% if (cvrs.length) { %>
    <ul class="row" id="covers">
        <% cvrs.forEach(function(cover){ %>
        <li class="col-md-2 col-sm-2 col-xs-3 cover">

            <figure class="cover-item"><img alt="<%= cover.get('album') %>" src="<%= cover.get('sPicture') %>"
                                            bigimg="<%= cover.get('bPicture') %>">
                <figcaption><span class="album-title"><%= cover.get('album') %></span><br>
                    by <span class="artist-name"><%= cover.get('artist') %></span></figcaption>

            </figure>
        </li>
        <% }) %>
    </ul>
    <% } %>
    <% include pagination %>
</div>

</body>
</html>