<% layout('layout') %>
<div class="container" id="container" style="max-width: 1200px; margin-right: auto !important; margin-left: auto !important">
    <% for(var i = 0; i < searchResults.length; i++) { %>
    <div class="col-xs-12 col-sm-4 col-lg-3 col-md-3" id="search">
        <div class="modal-dialog" style="max-width: 280px;">
            <div> <!--class="modal-content"-->
                <div class="modal-header" style="border:1px #EFEFEF solid; background-color: #FBFBFB">
                    <h4 class="modal-title" id="myModalLabel"><strong><%= searchResults[i]._source.album %></strong></h4>
                    <small><%= searchResults[i]._source.artist %></small>
                </div>
                <div class="modal-body"> <!--style="border-left:1px #EFEFEF solid; border-right:1px #EFEFEF solid;"-->
                    <img class="emerge" src="<%= searchResults[i]._source.bPicture %>">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <a href="<%= (searchResults[i]._source.bPicture) %>" class="buttonsstyle" role="button" download="<%= (searchResults[i]._source.bPicture).replace("img/", "") %>">Download <!--<span class="glyphicon glyphicon-download"></span>--></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    $(document).ready(function(){
        $('#header').css('display', 'block');
    });
</script>








